<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Book Feed</title>
<link th:replace="fragments/fragments :: head">
</head>
<body>
	<div class="container-fluid">
		<div  th:replace="fragments/fragments :: navbar"></div>
		<ul class="nav nav-tabs">
			<li role="presentation"
				th:classappend="${filter == 'all' ? 'active' : '' }"><a
				href="/tweets">All</a></li>
				<li>/</li>
			<li role="presentation"
				th:classappend="${filter == 'following' ? 'active' : '' }"><a
				href="/tweets?filter=following"> Following</a></li>
		</ul>
		<br />
		<h2>Tweets</h2>
		<div class="list-group" th:each="book:${bookList}">
			<div class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5>
						<a style="color: #1da1f2;" class="username"
							th:href="@{/users/} + ${tweet.user.username}"> @<span
							th:text="${tweet.user.username}"></span>
						</a>
					</h5>
					<small th:text="${tweet.date}"></small>
				</div>
				<p th:utext="${tweet.message}"></p>
			</div>
		</div> 
		
		<!--  <div th:if="${#lists.isEmpty(bookList)}"> 
		
			<h3>No books have been selected yet</h3>
			    <h1 class="text-center">Search for some books</h1>
			    <form th:action="@{/}" th:object="${request}" method="post" autocomplete="off" >
			        <div class="form-group">
			            <input type="text" th:field="*{title}" placeholder="Book title" class="form-control"/>
			        </div>
			        <div class="form-group">
			            <button class="btn btn-md btn-primary btn-block" name="Submit" value="Submit" type="Submit">
			                                                                                    Find a book</button>
			        </div>
			    </form>
		</div>-->
		
	<!--  	<div th:if="${data != null}">
	   <span th:if="${data != null && data.name == 'error'}">Invalid book title. Data not found.</span>
		    <hr>	    
		    <h3>Forecast for <span th:text="${data.name}"></span></h3>
	
		<div class="big" >
		
			<div class="container bg-info" th:if="${data != null && data.name != 'error'}">
			
				<div class="container justify-content-center">
				    <div class="row">		    
				        <div class="col-md-auto bg-success">
				            <br/>
				            <h3>Forecast for <span th:text="${data.name}"></span></h3>
				            <p><b>Temperature:</b> <span th:text="${data.main.get('temp')}"></span> °F</p>
				            <p><b>Cloud Cover:</b> <span th:text="${data.clouds.get('all')}"></span> %</p>
				            <p><b>Wind:</b> <span th:text="${data.wind.get('speed')}"></span> mph</p>
				            <p><b>Conditions:</b> <span th:text="${data.weather[0].get('description')}"></span>
				            <img th:src="@{${'http://openweathermap.org/img/w/' 
			                + data.weather[0].get('icon') + '.png'}}"></p>
				        </div>
				        
				        <div class="col col-md-3">
					        <table>
							    <thead>
							        <tr>
							            <th colspan="4">Book List</th>
							        </tr>
							    </thead>
							    <tbody th:each="code:${zips}">
							        <tr>
							            <td th:text="${code.zipCode}"></td>
							        </tr>
							    </tbody>
							</table>
				   		</div>	
				   		
				   		<div class="col col-md-3">
					  		<img src="Images/spring.jpg" width="480" height="320" >
					  		<button  type="button" class="btn btn-dark">Dark</button>
				   		</div>	
				   				        
				    </div>			    
				</div>
	
		  
				
		     </div>
		     
	     </div>-->
	     
	     
	  </div> 
		
		
		

	<div th:if="${#lists.isEmpty(bookList) and filter == 'all'}">
		<h3>No tweets have been created yet</h3>
	</div>
	<div th:if="${#lists.isEmpty(bookList) and filter == 'following'}">
		<h3>No tweets have been created by your followers</h3>
	</div>
	<script th:replace="fragments/fragments :: footer"></script>
</body>
</html>